.action {
	.container {
		padding: 0 196px;
	}

	.action__wrapper {
		padding-bottom: 149px;
	}
}

.action__title {
	font-size: 48px;
	line-height: 58px;
	margin: 0;
	margin-bottom: 70px;
	text-align: center;
}

.action__list {
	@include reset-list;
	display: flex;
	justify-content: space-between;
}

.action__item {
	width: 306px;
	text-align: center;
}

.action__item-title {
	margin: 0;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 24px;
}

.action__item-text {
	margin: 0;
	font-size: 16px;
	line-height: 19px;
}

.action__picture {
	margin-bottom: 35px;
}