html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $primary-font;
  font-weight: 400;
  // font-size: 16px;
  // line-height: 24px;
  color: #ffffff;
  background: url('../img/body-light1.png') 336px -36px / 1336px 1401px no-repeat,
    url('../img/body-light2.png') 0 1250px / 1440px 771px no-repeat,
    url('../img/body-light3.png') 300px 2021px / 1440px 1631px no-repeat,
    linear-gradient(128.69deg, #2D2E33 1%, #222529 100%);
  min-height: 100vh;
  min-width: 1440px;
  margin: 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
   background: url('../img/body-light1@2x.webp') 336px -36px / 1336px 1401px no-repeat,
    url('../img/body-light2@2x.webp') 0 1250px / 1440px 771px no-repeat,
    url('../img/body-light3@2x.webp') 300px 2021px / 1440px 1631px no-repeat,
    linear-gradient(128.69deg, #2D2E33 1%, #222529 100%);
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

picture {
  display: block;
}